<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="style.css">
    <title>Greetings Card || Buy Online</title>

</head>

<body>
    <%- include( 'partial/nav.ejs') %>
        <div class="container-block">
            <div class="p-5 text-center">
                <h1 class="mb-3" style=" background-color: rgb(249, 200, 162);"> Handmade Greeting Cards</h1>
            </div>
        </div>
        <div class="card-deck">
            <div class="card">
                <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSrTnFpKcFX-ehLif0jLhcBIntjLHTTYO60fw&usqp=CAU" alt="image cap" height="400px">
                <div class="card-body">
                    <h5 class="card-title">Rs. 311/-
                        <h5>
                            <p class="card-text">Colorful Butterfly Greeting Card</p>
                            <a href="#" class="btn btn-primary">Add to cart</a>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcScy8JSU2EDTbUl7lYb3hecIvCbuSngySCKBA&usqp=CAU" alt="Card image cap" height="400px">
                <div class="card-body">
                    <h5 class="card-title">Rs. 416/-
                        <h5>
                            <p class="card-text">Birthday Greeting Card</p>
                            <a href="#" class="btn btn-primary">Add to cart</a>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRV3P7yRQ60X_BjngWES2yG45IG-BJhZSsnvg&usqp=CAU" alt="Card image cap" height="400px">
                <div class="card-body">
                    <h5 class="card-title">Rs. 999/-
                        <h5>
                            <p class="card-text">Glossy Suit Design Greeting Card</p>
                            <a href="#" class="btn btn-primary">Add to cart</a>
                </div>
            </div>
        </div><br><br>
        <div class="card-deck">
            <div class="card">
                <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTuEh59AZ9Hrfxte00_rY_imi7Z5CDO-7UdFA&usqp=CAU" alt="Card image cap" height="400px">
                <div class="card-body">
                    <h5 class="card-title">Rs. 1199/-
                        <h5>
                            <p class="card-text"> Delicate Animal Peacock Card</p>
                            <a href="#" class="btn btn-primary">Add to cart</a>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRdLi-QllI8cv4Q7g6TCjX6J0grickHmbz1Hg&usqp=CAU" alt="Card image cap" height="400px">
                <div class="card-body">
                    <h5 class="card-title">Rs.745/-
                        <h5>
                            <p class="card-text">Handmade Valentine Greetings Card</p>
                            <a href="#" class="btn btn-primary">Add to cart</a>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTuqhtavWxBWezD3zv2pEENWodrKz6LAnohWHvsZrfj__3ZGGypNv5Ku40RXZCcEv2HI5Y&usqp=CAU" alt="Card image cap" height="400px">
                <div class="card-body">
                    <h5 class="card-title">Rs.835/-
                        <h5>
                            <p class="card-text">Handmade Greetings Card</p>
                            <a href="#" class="btn btn-primary">Add to cart</a>

                </div>
            </div>
        </div><br><br>
        <div class="card-deck">
            <div class="card">
                <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRADhHbiy7LRw5ms1x6z0PwPZUoEw11SAzwIEmkeWW7wzdjO8SELCKGn12FOkd07R7yQKI&usqp=CAU" alt="Card image cap" height="400px">
                <div class="card-body">
                    <h5 class="card-title">Rs.1399/-
                        <h5>
                            <p class="card-text">Bridal Shower Wishes</p>
                            <a href="#" class="btn btn-primary">Add to cart</a>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQrIiRuZdvf96GqhVN1S19iz1QrzAZjN0AGq3FiKaI8nn8JQkBzOR84c_Yuei7TjcaR-DU&usqp=CAU" alt="Card image cap" height="400px">
                <div class="card-body">
                    <h5 class="card-title">Rs.444/-
                        <h5>
                            <p class="card-text"> Thank You - Greeting Cards</p>
                            <a href="#" class="btn btn-primary">Add to cart</a>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTnvisTIu2g0a1wb6aghuf9oJp_HL7MTYiYH5e4c-fBUeppVEr-ywj8vYFJxo36Oc9MEiw&usqp=CAU" alt="Card image cap" height="400px">
                <div class="card-body">
                    <h5 class="card-title">Rs.615/-
                        <h5>
                            <p class="card-text">Handmade Card Business</p>
                            <a href="#" class="btn btn-primary">Add to cart</a>
                </div>
            </div>
        </div>
        <%- include( 'partial/footer.ejs') %>
</body>


</html>