<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="style.css">
    <title> Handmade Vases || Buy Online</title>

</head>

<body>
    <%- include( 'partial/nav.ejs') %>
        <div class="p-5 text-center bg-light">
            <h1 class="mb-3" style="background-color: rgb(249, 200, 162);"> Ceramic Handmade Vases </h1>

        </div>
        <div class="card-deck">
            <div class="card">
                <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ1phmqHZv_MTNX8P8MliuCXiMUlP6BhasGKQ&usqp=CAU" alt="Card image cap" height="400px">
                <div class="card-body">
                    <h5 class="card-title">Rs. 3000/-
                        <h5>
                            <p class="card-text"> Shop Ceramics </p>
                            <a href="#" class="btn btn-primary">Add to cart</a>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSy4cXky3f7CW1SSRX4oHW-PKTvpSAQyNPMUA&usqp=CAU" alt="Card image cap" height="400px">
                <div class="card-body">
                    <h5 class="card-title">Rs. 5000/-
                        <h5>
                            <p class="card-text">Ceramic Leaf Vase</p>
                            <a href="#" class="btn btn-primary">Add to cart</a>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQjeszPfJUrZoAtpDs-sJibkDXEpL-ce_dB7A&usqp=CAU" alt="Card image cap" height="400px">
                <div class="card-body">
                    <h5 class="card-title">Rs. 4506/-
                        <h5>
                            <p class="card-text"> Ceramic Planter Pot Turtled Shape</p>
                            <a href="#" class="btn btn-primary">Add to cart</a>
                </div>
            </div>
        </div><br><br>
        <div class="card-deck">
            <div class="card">
                <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT15U1NqjY4r43YtPnCQ7_gyJchVhRyxFS27w&usqp=CAU" alt="Card image cap" height="400px">
                <div class="card-body">
                    <h5 class="card-title">Rs. 5500/-
                        <h5>
                            <p class="card-text">Handmade Hollow Ceramic</p>
                            <a href="#" class="btn btn-primary">Add to cart</a>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSf0PAnkqz6KcGGT_k5Z7qjXe6a-0HPxwZIBA&usqp=CAU" alt="Card image cap" height="400px">
                <div class="card-body">
                    <h5 class="card-title">Rs. 5559/-
                        <h5>
                            <p class="card-text"> Handmade Wood Fired Bottle Vase</p>
                            <a href="#" class="btn btn-primary">Add to cart</a>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSz6JYIe6msXoc54rd3COCfbsDvCBurb60ing&usqp=CAU" alt="Card image cap" height="400px">
                <div class="card-body">
                    <h5 class="card-title">Rs. 6999/-
                        <h5>
                            <p class="card-text"> Hand Painted Turkish Pottery</p>
                            <a href="#" class="btn btn-primary">Add to cart</a>

                </div>
            </div>
        </div><br><br>
        <div class="card-deck">
            <div class="card">
                <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRj9Xhri6j1YTPYNcp8wtuaflZyyp6-e92MWQ&usqp=CAU" alt="Card image cap" height="400px">
                <div class="card-body">
                    <h5 class="card-title">Rs. 3999/-
                        <h5>
                            <p class="card-text"> Faux Ceramic Vase</p>
                            <a href="#" class="btn btn-primary">Add to cart</a>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT0_1wJWLeYjADl-TeXAZDDf0SvxQQqkxmCgA&usqp=CAU" alt="Card image cap" height="400px">
                <div class="card-body">
                    <h5 class="card-title">Rs. 8000/-
                        <h5>
                            <p class="card-text"> Turquoise Handmade Round Ceramic Vase</p>
                            <a href="#" class="btn btn-primary">Add to cart</a>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQBFCwjfItL7hbTPT6c8V6FPDimbyyV7Q5at1rj5heQNVJsnTeMT4Y2ZPPLZkspKfpnTTo&usqp=CAU" alt="Card image cap" height="400px">
                <div class="card-body">
                    <h5 class="card-title">Rs. 7070/-
                        <h5>
                            <p class="card-text"> Italian Ceramic Vase</p>
                            <a href="#" class="btn btn-primary">Add to cart</a>
                </div>
            </div>
        </div>
        <%- include( 'partial/footer.ejs') %>


</body>


</html>