<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>KraftLand | Hub of Crafts</title>
</head>

<body>
    <footer style="margin-top:auto;bottom: 0; position:relative; width: 100%;height: 60px;">
        <div class="container-block" style="background-color:rgb(230, 211, 197);">
            <div class="d-flex justify-content-between">
                <p style="padding-top: 1%;padding-left: 2%;">© 2023 KraftsLand All rights reserved.</p>
                <div class="content" style="padding-top: 1%;">
                    <ul class="nav row-md-4 justify-content-end list-unstyled d-flex">
                        <li class="ms-3">
                            <a href="https://www.facebook.com/"><img src="static/images/fb.jpg" alt="Facebook" height="40px" class="text-muted"></a>
                        </li>
                        <li class="ms-3">
                            <a href="https://whatsapp.com/"><img src="static/images/whatsapp.jpg" alt="Whatsapp" height="40px" class="text-muted"></a>
                        </li>
                        <li class="ms-3">
                            <a href="https://www.youtube.com/"><img src="static/images/youtube.png" alt="Youtube" height="40px" class="text-muted"></a>
                        </li>
                        <li class="ms-3">
                            <a href="https://www.instagram.com/"><img src="static/images/insta.jpg" alt="Instagram" height="40px" class="text-muted"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>